// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 18px;
$v-font-weight: 400;
//$v-font-family: "Open Sans", sans-serif;
//$v-background-color: #EEE;

/* Import the base theme.*/
// @import "../reindeer/reindeer.scss";
//noinspection CssUnknownTarget
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin algos {

  /* Include all the styles from the imported theme */
  @include valo;

  /* Insert your theme rules here */
  .v-menubar-mainmenu {
    background: yellow;
    font-family: "Lucida Sans", Georgia, Serif;
    font-size: large;
    border: 5px solid white;
  }
  .mymenubar {
    color: white;
    background: #0B6CFF;
    font-family: Arial;
    font-size: 24px;
    font-heith: 80px;
    font-weight: bold;
    border: 5px solid white;
    height: 44px;
  }
  .mybutton {
    color: white;
    background: #0B6CFF;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    height: 44px;
  }
  .toolbar {
    background: #D8D8D8;
  }

  .yellowBg {
    background: #FFFF99;
  }

  .greenBg {
    background: #7FCA9F;
  }

  .blueBg {
    background: #94DAF0;
  }

  .pinkBg {
    background: #FF9999;
  }

  .redBg {
    background: #F0311E;
  }

  .red {
    color: red;
  }

  .darkGrayBg {
    background: #5d5d5d;
  }

  .v-textfield-align-left {
    text-align: left;
  }

  .v-textfield-align-center {
    text-align: center;
  }

  .v-textfield-align-right {
    text-align: right;
  }

  .error-screen-msg {
    font-size: 18px;
    color: red
  }

  .v-menubar .v-menubar-menuitem-highlight {
    color: white;
    background: #6282A3;
  }

  .v-menubar-submenu .v-menubar-menuitem-highlight {
    color: white;
    background: #6282A3;
  }

  .v-icon {
    color:blue;
  }

  // verde
  .verde {
    .v-label {
      color: green;
    }
    .v-icon {
      color: green;
    }
    .v-menubar-menuitem {
      color: green;
      background: #E5E4E2;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
  }
  // salmone
  .salmone {
    color: #FA8072;

    .v-label {
      color: #FA8072;
    }
    .v-icon {
      color: #FA8072;
    }
    .v-menubar-menuitem {
      color: #FA8072;
      background: #E5E4E2;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
  }
  // rosso pompeiano
  .rosso {
    color: #D21F1B;

    .v-label {
      color: #D21F1B;
    }
    .v-icon {
      color: #D21F1B;
    }
    .v-menubar-menuitem {
      color: #D21F1B;
      background: #E5E4E2;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
    .v-menubar-menuitem-highlight {
      color: white;
      background: #6282A3;
    }
  }

  // altro colore
  .blue {
    .v-label {
      color: blue;
    }
    .v-icon {
      color: blue;
    }
  }

  $warning-color: orange;
  .v-label-warning {
    //background: $v-textfield-background-color;
    color: valo-font-color($v-textfield-background-color);
    font-style: italic;
    //border: 2px solid $warning-color;
    //border-radius: $v-border-radius;
    //padding: round($v-unit-size/5) round($v-unit-size/2) round($v-unit-size/5) round($v-unit-size);
    font-weight: $v-font-weight;
    font-size: round($v-font-size * 0.80);

    &:before {
      font-family: FontAwesome;
      font-style: normal;
      content: "\f071";
      margin-right: .5em;
      margin-left: 1px;
      color: $warning-color;
    }
  }

  $wiki-color: #039e36;
  .v-label-wiki {
    //background: $v-textfield-background-color;
    color: $wiki-color;
    font-style: normal;
    //border: 2px solid $warning-color;
    //border-radius: $v-border-radius;
    //padding: round($v-unit-size/5) round($v-unit-size/2) round($v-unit-size/5) round($v-unit-size);
    font-weight: $v-font-weight+100;
    font-size: round($v-font-size);

    &:before {
      font-family: FontAwesome;
      font-style: normal;
      content: "\f15c";
      margin-right: .5em;
      //margin-left: round($v-unit-size/-2);
      color: $wiki-color;
    }
  }
}
